@model Garza_Johnny_HW2.Models.WalkupOrder

@{
    ViewData["Title"] = "CheckoutWalkup";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<div class="container">
    <h1>
        Checkout Walkup Order
    </h1>
    <hr />


    <div class="row">
        <div class="col-md-4">
            <form asp-action="CheckoutWalkup">
                @if (ViewBag.ErrorMessage != null)
                {
                    <!-- Display an error message if it exists -->
                    <div style="">
                        @ViewBag.ErrorMessage
                    </div>
                }
                <br />


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CustomerName" class="control-label"></label>
                    <!-- Input field for customer name -->
                    <input asp-for="CustomerName" class="form-control" />
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="NumberOfHardbacks" class="control-label"></label>
                    <!-- Input field for the number of hardbacks -->
                    <input asp-for="NumberOfHardbacks" class="form-control" />
                    <span asp-validation-for="NumberOfHardbacks" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="NumberOfPaperbacks" class="control-label"></label>
                    <!-- Input field for the number of paperbacks -->
                    <input asp-for="NumberOfPaperbacks" class="form-control" />
                    <span asp-validation-for="NumberOfPaperbacks" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <!-- Submit button to post form data -->
                    <button asp-action="WalkupTotals" method="post" class="btn btn-primary">Submit</button>
                </div>


            </form>
        </div>
    </div>


    <div>
        <!-- Link to navigate back to the homepage -->
        <a asp-action="Index">Back to Homepage</a>
    </div>


</div>

