@model Garza_Johnny_HW2.Models.WholesaleOrder

@{
    ViewData["Title"] = "CheckoutWholesale";
}







<div class="container">
    <h1>
        Checkout Wholesale Order
    </h1>
    <hr />


    <div class="row">
        <div class="col-md-4">
            <form asp-action="CheckoutWholesale">
                @if (ViewBag.ErrorMessage != null)
                {
                    <!-- Display an error message if it exists -->
                    <div style="">
                        @ViewBag.ErrorMessage
                    </div>
                }
                <br />


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CustomerCode" class="control-label"></label>
                    <!-- Input field for customer code -->
                    <input asp-for="CustomerCode" class="form-control" />
                    <span asp-validation-for="CustomerCode" class="text-danger"></span>
                </div>


                <div class="form-group form-check">
                    <!-- Checkbox for PreferredCustomer status -->
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="PreferredCustomer" /> @Html.DisplayNameFor(model => model.PreferredCustomer)
                    </label>
                </div>


                <div class="form-group">
                    <label asp-for="DeliveryFee" class="control-label"></label>
                    <!-- Input field for delivery fee -->
                    <input asp-for="DeliveryFee" class="form-control" />
                    <span asp-validation-for="DeliveryFee" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="NumberOfHardbacks" class="control-label"></label>
                    <!-- Input field for the number of hardbacks -->
                    <input asp-for="NumberOfHardbacks" class="form-control" />
                    <span asp-validation-for="NumberOfHardbacks" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="NumberOfPaperbacks" class="control-label"></label>
                    <!-- Input field for the number of paperbacks -->
                    <input asp-for="NumberOfPaperbacks" class="form-control" />
                    <span asp-validation-for="NumberOfPaperbacks" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <!-- Submit button to post form data -->
                    <button asp-action="WholesaleTotals" method="post" class="btn btn-primary">Submit</button>
                </div>


            </form>
        </div>
    </div>


    <div>
        <!-- Link to navigate back to the homepage -->
        <a asp-action="Index">Back to Homepage</a>
    </div>


</div>
